<script src='/home.js'></script>
<div class='container-sm'>
    <h1 id='heading' style='text-align: center;'>Welcome to SplitUp!</h1>
    <br />
    <p>Ready to split the bill? Enter your names below to get started.</p>
    <div id='add_names_parent'>
        {{! add names for users }}
        <input
            type='button'
            id='more_fields'
            onclick='add_fields();'
            value='add a name'
            class='btn btn-secondary'
        />
        <br />
        <br />
    </div>
    <div id='additional-fields'>
        {{! new username inputs go here }}
    </div>
    <div>
        {{! submit request for new users }}
        <input
            type='button'
            class='btn btn-primary'
            value='ready'
            onclick='submit_names()'
        />
    </div>
    <br />
    <br />
    <div id='unhide-me' hidden='true'>
        <p>Enter your expenses below: </p>
        {{! expenses }}
        <div id='all-expenses'>
            <div id='new-expenses-here'>
            </div>
        </div>
        <div>
            <input
                type='button'
                id='more_fields'
                value='add an expense'
                onclick='render_expense()'
                class='btn btn-secondary'
            />
        </div>
        <br />
        <br />
        <div>
            {{! submit request for SplitUp }}
            <input
                type='button'
                class='btn btn-primary'
                value='SplitUp!'
                onclick='render_results()'
            />
        </div>
    </div>
    <br />
    <br />
    <div id='results_root'>
    </div>
    <br />
    <br />
    <div>
        <button class='btn btn-warning' onclick='start_over()'>start over</button>
    </div>
</div>
<br />
<br />